<div class="control bg col">
  <div class="container page">
    <div class="row">
      <div class="col page1 text colo">
        SOLAR
      </div>
      <div class="col page1">
        <div class="card-body colo1">
          <div class="row" >
              <div class="col-5">
                  <h6>Username</h6>
                </div>
                <div class="col-5">
                    <input class="box" placeholder="Username">
                </div>
          </div>
          <br>
          <div class="row" >
              <div class="col-5">
                  <h6>Password</h6>
              </div>
              <div class="col-5">
                  <input class="box" placeholder="Password">
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6">

            </div>
              <div class="col-6" style="position: relative;text-align: left">                
                  <button class="buttonlogin" onclick="postfunction()">Login</button>
              </div>

          </div>
      </div>
   </div>
      </div>
    </div>
</div>




<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->