<head>
  <script defer src="/your-path-to-fontawesome/js/all.js"></script>
  <!--load all styles -->
</head>
<div class="bg">
  <h1 class="text">Solar Cell</h1>
  <h2 class="text2">Monitoring System</h2>
</div>
<body>
  <div class="bg1 text3">
    <div class="container">
      <div class="row ">
        <div class="col-sm ">
          <img class="img1" src="assets/img/circle.svg">
          <img class="img2" src="assets/img/flash.svg">
          <div class="text4">22.7A</div>
        </div>
        <div class="col-sm">
          <img class="img1" src="assets/img/circle.svg">
          <img class="img2" src="assets/img/flash.svg">
          <div class="text4">22.7A</div>
        </div>
        <div class="col-sm">
          <img class="img1" src="assets/img/circle.svg">
          <img class="img2" src="assets/img/flash.svg">
          <div class="text4">22.7A</div>
        </div>
      </div>
    </div>

    <div class="container circle">
      <div class="row ">
        <div class="col-sm">
          <img class="img1" src="assets/img/circle.svg">
          <img class="img2" src="assets/img/flash.svg">
          <div class="text4">22.7A</div>
        </div>
        <div class="col-sm">
          <img class="img1" src="assets/img/circle.svg">
          <img class="img2" src="assets/img/flash.svg">
          <div class="text4">22.7A</div>
        </div>
        <div class="col-sm">
          <img class="img1" src="assets/img/circle.svg">
          <img class="img2" src="assets/img/flash.svg">
          <div class="text4">22.7A</div>
        </div>
      </div>
    </div>
  </div>
 
</body>
<footer class="bgg"></footer>

<router-outlet></router-outlet> 